* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btns ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 600px;
  margin: 0 auto;
}

.btns * {
  font-size: 12px;
}

.btns button {
  padding: 5px 10px;
  border: 0;
  border-radius: 5px;
}

.btns input {
  height: 24px;
  line-height: 24px;
  border-radius: 5px;
}

.btns input[type='number'] {
  padding: 0 5px;
  width: 60px;
}

.btns .active {
  color: #fff;
  background: hsl(131, 25%, 54%);
}

.color {
  display: flex;
  justify-content: center;
  align-items: center;
}

#colorSpan {
  display: block;
  width: 60px;
  text-align: center;
}

#container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

#container canvas {
  border: 1px solid #ccc;
  border-radius: 5px;
  position: absolute;
}
